@model CategoriesViewModel
@{
    ViewBag.Title = "Categories";
}

@section Breadcramps {
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-list"></i> Categories</li>
    </ol>
}


<div class="box">
    <div class="box-header with-border">
        <a href="@Model.CategoryCreateUrl" class="btn btn-default"><i class="fa fa-plus"></i> Create</a>

        <div class="box-tools pull-right">

        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>