
<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs"></i> <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#"><i class="fa fa-globe"></i> Back To Website</a></li>
            <li><a href="#"><i class="fa fa-sign-out"></i> Logout</a></li>
        </ul>
    </li>
</ul>